@font-face {
    font-family: 'kremlin';
    src: url(kremlin.ttf);
}

body {
    height: 100%;
    font-size: 3vh;
    background: url(b.jpg) no-repeat center;
    background-size: cover;
    background-color: rgb(104, 21, 21);
}

main {
    color: azure;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: 'kremlin';
    font-size: 8vh;
}

#subtitulo {
    margin-top: -20px;
}

.enunciado {
    font-size: 3vh;
}

#content {
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#frase {
    font-size: 4vh;
    color: lightgrey;
    text-shadow: 2px 2px black;
}

span{
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: azure;
  }

footer{
    text-align: center;
    color: rgb(175, 175, 175);
}

/*                        RESPONSIVIDADE                     */


@media screen and (max-width: 320px) {
    
    h1{
        font-size: 4vh;
    }
    #subtitulo {
        margin-top: -10px;
        margin-bottom: -5px;
        font-size: 3vh;
    }
    #content {
        height: 75vh;
        margin-bottom: 10px;
    }
    #frase {
        margin-bottom: 10px;
    }


}
@media screen and (min-width: 321px) and (max-width: 375px) {
    
    h1{
        font-size: 6vh;
    }
    #subtitulo {
        font-size: 3vh;
        margin-top: -10px;
        margin-bottom: 0px;
    }
    #content {
        height: 50vh;
    }

}

@media screen and (min-width: 376px) and (max-width: 425px) {
    
    h1{
        font-size: 5vh;
    }
    #subtitulo {
        font-size: 3vh;
        margin-top: -10px;
        margin-bottom: 0px;
    }
    #content {
        height: 50vh;
    }

}

@media (min-height: 420px) {
   
    #frase {
        font-size: 3vh;
    }
    #content {
        height: 60vh;
    }
    #enunciado {
        margin-top: 20px;    
    }
}
